<%- include('includes/head.ejs') %>
    </head>

    <body>
        <main class="centered">
          This is Omno Payment page
        </main>
        <%- include('includes/end.ejs') %>

        <iframe src='<%= paymentUrlIframe %>' style="border:none;" title="Iframe Example"></iframe>



<%- include('includes/end.ejs') %>